/* Workspace Switcher */
.workspace-switcher-group {
  padding: $space-size * 2;
}

.workspace-switcher-container {
  @extend %osd_panel;
  border-radius: $window-radius;
}

.workspace-switcher {
  background: #2a2a2a;
  border: none;
  border-radius: 50%;
  padding: 20px;
  spacing: $space-size * 2;
}

.ws-switcher-box {
  height: 50px;
  background-size: 32px;
  border: none;
  background: $secondary-fill;
  border-radius: $material-radius;
}

// active workspace in the switcher
.ws-switcher-active-up,
.ws-switcher-active-down,
.ws-switcher-active-left,
.ws-switcher-active-right {
  height: 52px;
  background-color: $primary;
  border: none;
  border-radius: $material-radius + $space-size / 2;
  color: on(dark);
}
